<ion-content [fullscreen]="true">
  <div class="header fixed-top justify-content-between">
      <div class="h-left">
          <a (click)="goBack()" class="icon back-btn">
              <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.88986 12.2951L1.60986 7.00008L6.88986 1.70508" stroke="#121927" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round" />
              </svg>
          </a>
      </div>
      <h3>Skill</h3>
      <div class="h-right">
          <a (click)="goHome()" class="icon1">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g opacity="0.6">
                      <path
                          d="M9.02 2.84016L3.63 7.04016C2.73 7.74016 2 9.23016 2 10.3602V17.7702C2 20.0902 3.89 21.9902 6.21 21.9902H17.79C20.11 21.9902 22 20.0902 22 17.7802V10.5002C22 9.29016 21.19 7.74016 20.2 7.05016L14.02 2.72016C12.62 1.74016 10.37 1.79016 9.02 2.84016Z"
                          stroke="#121927" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M12 17.9902V14.9902" stroke="#121927" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                  </g>
              </svg>
          </a>
      </div>
  </div>
  <div class="app-content style-3">
      <div class="tf-container">
          <div class="box-profile text-center">
              <div class="avatar">
                  <img src="assets/images/avt/avt-1.jpg" alt="avt">
              </div>
              <div class="content">
                  <h4 class="name">Jonathan Smith</h4>
                  <p class="text-mail body-4">jonathansmith@gmail.com</p>
              </div>
          </div>
          <!-- CATEGORY LOOP -->
          <div *ngFor="let category of categories" class="mt-20">
            <h6 class="mb-12">{{ category }}</h6>

            <ul class="list-type flat-cb-list">
              <li
                *ngFor="let skill of skillsByCategory[category]"
                class="type-item"
                [class.active]="skill.checked"
                (click)="toggleSkill(skill)"
              >
                {{ skill.name }}
              </li>
            </ul>
          </div>

          <!-- SAVE BUTTON -->
          <div class="fixed-button">
            <button class="tf-btn primary" (click)="saveSkills()">
              Save
            </button>
          </div>
      </div>

  </div>
</ion-content>
