<ion-content [fullscreen]="true">
  <!-- preloade -->
    <div class="preload preload-container">
        <div class="logo-img">
            <img src="assets/images/logo/logo-dark2.png" alt="">
        </div>
        <div class="spinner-circle lg success">
            <span class="spinner-circle1 spinner-child"></span>
            <span class="spinner-circle2 spinner-child"></span>
            <span class="spinner-circle3 spinner-child"></span>
            <span class="spinner-circle4 spinner-child"></span>
            <span class="spinner-circle5 spinner-child"></span>
            <span class="spinner-circle6 spinner-child"></span>
            <span class="spinner-circle7 spinner-child"></span>
            <span class="spinner-circle8 spinner-child"></span>
            <span class="spinner-circle9 spinner-child"></span>
        </div>
    </div>
    <!-- /preload -->

    <section class="boarding-sec">
        <div class="tf-container">
            <div dir="ltr" class="swiper tf-swiper-2" data-space-between="24" data-preview="1" data-tablet="1" data-desktop="1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="boarding-img">
                            <div class="img">
                                <img src="assets/images/banner/boarding3.png" alt="">
                            </div>
                        </div>
                        <div class="content-boarding text-center">
                            <h1 class="title">Help Find the Right Job <br> With Your Desire</h1>
                            <p class="desc">Jobfil can help you find the right <br> job with your desire </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="boarding-img">
                            <div class="img">
                                <img src="assets/images/banner/boarding2.png" alt="">
                            </div>
                        </div>
                        <div class="content-boarding text-center">
                            <h1 class="title">Apply for job <br> anywhere & anytime</h1>
                            <p class="desc">Jobfil makes you can apply for job from <br> anywhere and anytime
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="boarding-img">
                            <div class="img">
                                <img src="assets/images/banner/boarding1.png" alt="">
                            </div>
                        </div>
                        <div class="content-boarding text-center">
                            <h1 class="title">Search Job Easier <br> and More Effective</h1>
                            <p class="desc">Make your experience of searching job <br> more easier and more effective
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination line-tes"></div>
            </div>
        </div>
        <div class="fixed-button group-btn-boarding">
            <a href="sign-in" class="tf-btn primary">Get Started</a>
        </div>
    </section>
</ion-content>
